name: app
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_svg: ^2.2.0
  shared_preferences: ^2.5.3
  intl: ^0.20.2
  intl_utils: ^2.8.7
  cupertino_icons: ^1.0.5
  dio: ^5.1.2
  async: ^2.11.0
  flutter_bloc: ^8.1.2
  get_it: ^7.6.0
  package_info_plus: ^8.3.0
  permission_handler: ^11.4.0
  universal_html: ^2.2.2
  go_router: ^7.0.1
  equatable: ^2.0.5
  firebase_core: ^3.13.0
  url_strategy: ^0.2.0
  flutter_localizations:
    sdk: flutter
  domain:
    path: ../modules/domain
  common:
    path: ../modules/common
  data:
    path: ../modules/data

  # Remove example dependencies
  example_data:
    path: ../example/example_data
  example_domain:
    path: ../example/example_domain
  example_presentation:
    path: ../example/example_presentation

  http: ^1.5.0
  melos: ^3.4.0
  dev: ^1.0.0

dev_dependencies:
  bloc_test: ^9.0.2
  build_runner: ^2.4.9
  flutter_gen:
  flutter_test:
    sdk: flutter
  mockito: ^5.4.4
  mocktail: ^1.0.3
  flutter_lints: ^3.0.2

flutter_intl:
  enabled: true # Required. Must be set to true to activate the package. Default: false
  main_locale: en # Optional. Sets the main locale used for generating localization files. Provided value should consist of language code and optional script and country codes separated with underscore (e.g. 'en', 'en_GB', 'zh_Hans', 'zh_Hans_CN'). Default: en
  arb_dir: lib/presentation/resources/locale # Optional. Sets the directory of your ARB resource files. Provided value should be a valid path on your system. Default: lib/l10n
  output_dir: lib/presentation/resources/locale/generated # Optional. Sets the directory of generated localization files. Provided value should be a valid path on your system. Default: lib/generated

flutter:
  generate: true
  uses-material-design: true
  # Remove example assets.
  assets:
    - assets/images/
  fonts:
    - family: Roboto Black
      fonts:
        - asset: fonts/Roboto-Black.ttf
        - asset: fonts/Roboto-BlackItalic.ttf
          style: italic
    - family: Roboto Heavy
      fonts:
        - asset: fonts/Roboto-Bold.ttf
        - asset: fonts/Roboto-BoldItalic.ttf
          style: italic
    - family: Roboto Medium
      fonts:
        - asset: fonts/Roboto-Medium.ttf
        - asset: fonts/Roboto-MediumItalic.ttf
          style: italic
    - family: Roboto Light
      fonts:
        - asset: fonts/Roboto-Light.ttf
        - asset: fonts/Roboto-LightItalic.ttf
          style: italic
    - family: Roboto Regular
      fonts:
        - asset: fonts/Roboto-Regular.ttf
    - family: Roboto Italic
      fonts:
        - asset: fonts/Roboto-Italic.ttf
