// Create a new file .settings that must be in .gitignore,
// Change env/data env_config.dart :envConfigFile ->  'env/.settings'
// then remove this example
// Add your environment variables here and provide them in data/lib/env/env.dart using dotenv
// static String get yourEnvVar => dotenv.env['YOUR_ENV_KEY']?.toString() ?? '';

API_URL_DEV=https://your-api-url-dev.com
API_URL_QA=https://your-api-url-qa.com
API_URL_PROD=https://your-api-url-prod.com

